<div id="navbar">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Lab task #3</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Task 1. Vanilla Bootstrap
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="http://localhost:4200/slide-show">Slide show</a>
              <a class="dropdown-item" href="http://localhost:4200/progress-bar">Progress bar</a>
              <a class="dropdown-item" href="http://localhost:4200/cards">Cards</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Task 2. ng-bootstrap
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="http://localhost:4200/accordion">Accordion</a>
              <a class="dropdown-item" href="http://localhost:4200/table">Table</a>
              <a class="dropdown-item" href="http://localhost:4200/timepicker">Timepicker</a>
              <a class="dropdown-item" href="http://localhost:4200/datepicker">Datepicker</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/form">Task 3. Reactive form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/datatable">Task 4. ngx-datatable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/weather">Task 5. OpenWeatherMapAPI</a>
          </li>
      </ul>
    </div>
  </nav>
</div>

