<div class="card-wrap">
<div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">City of Kiyv</h5>
          <img src="https://art-oboi.com.ua/img/gallery/61/thumbs/thumb_l_27371.jpg" class="card-img-top" alt="...">
          <p class="card-text"><br>Kyiv is the capital and most populous city of Ukraine. It is in north-central Ukraine along the Dnieper River. Its population in July 2015 was 2,887,974 (though higher estimated numbers have been cited in the press), making Kyiv the seventh-most populous city in Europe.</p>
          <a href="https://en.wikipedia.org/wiki/Kyiv" class="btn btn-primary">More about Kyiv...</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">City of Odesa</h5>
          <img src="https://all.accor.com/magazine/imagerie/kartinka-1-9438.jpg" class="card-img-top" alt="...">
          <p class="card-text"><br>Odesa is the third most populous city of Ukraine and a major tourism center, seaport and transport hub located on the northwestern shore of the Black Sea. t is also the administrative center of the Odessa Oblast and Odessa Raion, as well a multiethnic cultural center. </p>
          <a href="https://en.wikipedia.org/wiki/Odesa" class="btn btn-primary">More about Odesa...</a>
        </div>
      </div>
    </div>
  </div>
</div>

